# MongoDB Database
# Local: mongodb://localhost:27017/hanasu
# Production: mongodb+srv://<username>:<password>@cluster0.mongodb.net/hanasu?retryWrites=true&w=majority
MONGO_URI="mongodb+srv://<db_username>:<password>@hanasu.ky32ceo.mongodb.net/hanasu?retryWrites=true&w=majority&appName=hanasu"

# Google OAuth
GOOGLE_CLIENT_ID=920082095758-aeneumjk990lt77fft3uivhn58m9usbn.apps.googleusercontent.com

# JWT Secret
JWT_SECRET=xc90-asdf-7890-jkl4-m2nc-8923-xz12-po09-lkj8-gh76-ty54-re32-wq10

# Google Gemini AI (Free API Key)
GEMINI_API_KEY=

# Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
